@media screen and (max-width: 767px) {
    .header {
        padding: 11px 0;

        &-logo {
            margin-right: 22px;
            width: 52px;
		    height: 8px;
            z-index: 1;
        }
    }

    .menu{    
        &__list{
            display: flex;
            gap: 8px;
        }
    
        &__link{
            font-size: 6px;
        }
    }

    .btn{
        font-size: 6px;
        padding: 5px 11px;
        &.register-btn{
            margin-left: 11px;
            padding-right: 18px;
            font-size: 6px;
            &::after{
                width: 6px;
                height: 6px;
                top: 50%;
                left: 78%;
            }
        }
    }

    .swiper{
        height: 200px;

        &-pagination-bullet{
            width: 4px;
            height: 4px;
        }
    }

    .swiper-slide{
        .slide{
            justify-content: center;
            gap: 34px;
            &-text{
                max-width: 220px;

                &__title{
                    font-size: 22px;
                    margin-bottom: 6px;;
                }

                &__description{
                    font-size: 6px;
                    margin-bottom: 11px;
                }
            }

            &-illustration{
                width: 130px;
                height: 135px;
            }
        }
    }
    

    .footer{
        padding: 22px 54px;

        &__copyright{
            font-size: 4px;
        }

        &__logo{
            width: 64px;
            height: 10px;
        }

        &-info{
            gap: 14px;
        }

        &-social{
            gap: 6px;
            &__item
            {
                img{
                    width: 11px;
                    height: 11px;
                }
            }
        }

        &-links{
            gap: 20px;

            &__col-1,
            &__col-2,
            &__col-3{
                h6{
                    font-size: 8px;
                    margin-bottom: 8px;
                }
            }
        }

        &-comp-nav{
            gap: 8px;
            &__item{
                font-size: 6px;
            }
        }

        &-form{
            &__item{
                padding: 3px 4px;
                font-size: 6px;
                border-radius: 3px;
                &::placeholder{
                    font-size: 6px;
                }
            }

            &__send{
                position: absolute;
                top: 9px;
                left: 74px;
                width: 6px;
                height: 6px;
            }
        }
    }
}
