.header {
	background: $neutral-white;
	padding: 22px 0;

	>.container{
		display: flex;
		align-items: baseline;
	}

	&-logo{
		width:108px;
		height: 16px;
		margin-right: 44px;
	}
}

.menu{
	margin-left: auto;

	&__list{
		display: flex;
		gap: 16px;
	}

	&__link{
		font-family: "Inter";
		font-size: 12px;
		font-weight: 600;
		color: $neutral-dgrey;
		text-decoration: none;
		&:hover{
			color: $primary-color;
    		text-decoration: underline;
		}
	}
}