///fonts///
$font-primary: "Inter";
$font-secondary:  "Montserrat";
$font-size: 16px;

///colors///
$primary-color: #4CAF4F;
$secondary-color: #263238;
$info-color:#2194F3;

$shade1:#43A046;
$shade2:#388E3B;
$shade3:#237D31;
$shade4:#1B5E1F;
$shade5:#103E13;

$neutral-black: #263238;
$neutral-dgrey: #4D4D4D;
$neutral-grey: #717171;
$neutral-lgrey: #89939E;
$neutral-greyblue: #ABBED1;
$neutral-silver: #F5F7FA;
$neutral-white: #FFF;
