<div class="container">
    <section class="community">
        <div class="community-text">
            <h5 class="community-text__title">Manage your entire community in a single system</h5>
            <p class="community-text__description">Who is Nextcent suitable for?</p>
        </div>
        <div class="community-items">
            <div class="community-item">
                <img class="community-item__img" src="./assets/img/community_1.svg" alt="community_1">
                <h6 class="community-item__title">Membership Organisations</h6>
                <p class="community-item__description">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
            <div class="community-item">
                <img class="community-item__img" src="./assets/img/community_2.svg" alt="community_2">
                <h6 class="community-item__title">National Associations</h6>
                <p class="community-item__description">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
            <div class="community-item">
                <img class="community-item__img" src="./assets/img/community_3.svg" alt="community_3">
                <h6 class="community-item__title">Clubs And Groups</h6>
                <p class="community-item__description">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
        </div>
    </section>
</div>