<footer class="footer">
	<div class="container">
		<div class="footer-info">
			<a class="footer__logo" href="index.html"><img src="./assets/img/ft-logo.svg" alt="logo"></a>
			<p class="footer__copyright">Copyright © 2020 Landify UI Kit.<br>All rights reserved</p>
			<div class="footer-contacts">
				<nav class="footer-social">
					<a class="footer-social__item" href="#">
						<img src="./assets/img/insta_icon.svg" alt="instagram">
					</a>
					<a class="footer-social__item" href="#">
						<img src="./assets/img/dribbble_icon.svg" alt="dribbble">
					</a>
					<a class="footer-social__item" href="#">
						<img src="./assets/img/twitter_icon.svg" alt="twitter">
					</a>
					<a class="footer-social__item" href="#">
						<img src="./assets/img/youtube_icon.svg" alt="youtube">
					</a>	
				</nav>
			</div>
		</div>
		<div class="footer-links">
			<div class="footer-links__col-1">
				<h6>Company</h6>
				<nav class="footer-comp-nav">
					<a class="footer-comp-nav__item" href="#">About us</a>
					<a class="footer-comp-nav__item" href="#">Blog</a>
					<a class="footer-comp-nav__item" href="#">Contact us</a>
					<a class="footer-comp-nav__item" href="#">Pricing</a>
					<a class="footer-comp-nav__item" href="#">Testimonials</a>
				</nav>
			</div>
			<div class="footer-links__col-2">
				<h6>Support</h6>
				<nav class="footer-support-nav">
					<a class="footer-support-nav__item" href="#">Help center</a>
					<a class="footer-support-nav__item" href="#">Terms of service</a>
					<a class="footer-support-nav__item" href="#">Legal</a>
					<a class="footer-support-nav__item" href="#">Privacy policy</a>
					<a class="footer-support-nav__item" href="#">Status</a>
				</nav>
			</div>
			<div class="footer-links__col-3">
				<h6>Stay up to date</h6>
				<form class="footer-form">
					<input class="footer-form__item" type="text" placeholder="Your email address">
					<a class="footer-form__link" href="#">
						<img class="footer-form__send" src="./assets/img/send.svg" width="14" height="13" alt="sent pict">
					</a>
				</form>
			</div>
		</div>
	</div>
</footer>
<script async src="assets/js/swiper-bundle.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>