<div class="container">
    <section class="our-clients">
        <div class="our-clients-text">
            <h5 class="our-clients__title">Our Clients</h5>
            <p class="our-clients__description">We have been working with some Fortune 500+ clients</p>
        </div>
        <div class="our-clients-icons">
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_1.svg" alt="logo-1">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_2.svg" alt="logo-2">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_3.svg" alt="logo-3">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_4.svg" alt="logo-4">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_5.svg" alt="logo-5">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_6.svg" alt="logo-6">
            </a>
            <a href="" class="our-clients-icons__icon">
                <img src="./assets/img/logo_7.svg" alt="logo-7">
            </a>
        </div>
    </section>       
</div>
