<section class="slider">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-text">
              <h2 class="slide-text__title">Lessons and insights <span class="green-text">from 8 years</span></h2>
              <p class="slide-text__description">Where to grow your business as a photographer: site or social media?</p>
              <div>
                <button class="btn">Register</button>
              </div>
            </div>
            <img class="slide-illustration" src="./assets/img/Illustration.svg" alt="illustration">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
             <img class="slide-illustration" src="./assets/img/Illustration.svg" alt="illustration">
            <div class="slide-text">
              <h2 class="slide-text__title">Lessons and insights <span class="green-text">from 8 years</span></h2>
              <p class="slide-text__description">Where to grow your business as a photographer: site or social media?</p>
              <div>
                <button class="btn">Register</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-text">
              <h2 class="slide-text__title">Lessons and insights <span class="green-text">from 8 years</span></h2>
              <p class="slide-text__description">Where to grow your business as a photographer: site or social media?</p>
              <div>
                <button class="btn">Register</button>
              </div>
            </div>
            <img class="slide-illustration" src="./assets/img/Illustration.svg" alt="illustration">
          </div>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
