<div class="container">
    <section class="unlock">
        <img class="unlock__img" src="./assets/img/unlock_img.svg" alt="unlock_img">
        <div class="unlock-text">
            <h5 class="unlock-text__title">The unseen of spending three years at Pixelgrade</h5>
            <p class="unlock-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
            <button class="btn unlock-btn">Learn More</button>
        </div>
    </section>
</div>